
.button_DangNhap{
    margin-top: 15px;
    height: 50px;
    width: 80%;
    font-size: 20px;
    color: white;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #1877F2;
}
.button_DangNhap:hover{
    cursor: pointer;
    color: black;
    background-color: red,0.5;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.content{
    width: 390px;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
}
.content span{
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.content img{
    margin: 20px 0;
    height: 50px;
}
.content p{
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}
.btnDangNhap{
    margin: 40px 0;
    text-align: center;
}